.footer {
  position: fixed;
  left: 10%;
  bottom: 0;
  width: 90%;
  text-align: left;
  font-size: medium;
}

.header-old {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: medium;
  background: blue;
  color: white;
}

li {
    font-size:16pt;
}

table {
    font-size:16pt;
}

img {
    border: 1px solid #000000;    
	margin: 15px 15px;
	display: block;
	max-width: 100%;
}

figure {
    display: inline-block;
    vertical-align: top;
	padding: 0.1em;
	/*margin: 0 auto 1em;*/    
}

.figure img {
    border: 1px solid #000000;    
	/*margin: 0 auto;*/
	display: block;
	max-width: 100%;
}

figcaption {
    text-align: center;
    font-size: 12pt;
}

.reveal {
	counter-reset: figures;
}

.figure figcaption {
	counter-increment: figures;
}

.figure figcaption:before {
	content: 'Fig ' counter(figures) '. ';
}