.footer {
  position: fixed;
  left: 10%;
  bottom: 0;
  width: 90%;
  text-align: left;
  font-size: medium;
}

.header-old {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: medium;
  background: blue;
  color: white;
}